<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>QueueTweets- Send your Tweets with Azure Storage Queues</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <div class="container">
    <h1>QueueTweets</h1>
    <h2>Send your Tweets with Azure Storage Queues</h2>
    <script src="https://unpkg.com/htmx.org@1.8.2"></script>
      <div id="messages" class="messages">
        {% include 'message.html' %}
      </div>
      {% include 'danger.html' %}


    <hr />
    <footer>
      <h3>
        Built with 💙 and 🐍 using Azure (<a href="">Learn More</a>) by
        <a href="https://kjaymiller.com">kjaymiller</a>
      </h3>
      <a href="https://github.com/kjaymiller/31DaysOfNeurodivergence"
        >Source Code</a
      >
    </footer>
</div>
</body>
</html>
  